<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@700&family=Nunito:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="stylesheet" href="/css/main.css">

    <script type="text/javascript">

       // cms.log("snap shot data is ",snapshotsListArr);

    </script>
    <script defer="defer"  src="/js/snapshot-container-el.js"></script>
    <script defer="defer"  src="/js/index.js"></script>

</head>
<body>

<main id="spyne-cms-main">

    <div id="spyne-cms-ui">
        <div id="spyne-cms-header">
            <div class="header-content">
                <div class="logo">
                    <h1>SPYNE</h1>
                </div>

                <div class="links">
                    <a href="http://localhost:52931" target="_blank">CMS Plugin Registry</a>
                </div>


            </div>


        </div>


    </div>

    <section id="spyne-cms-body">
        <h2>CMS Data Dashboard</h2>

        <div id="snapshot-section">

            {{#snapshotsDomItems}}

            <div class="snapshot-container container">
                <div class="snapshot-label"><h3><span>Data File</span>{{snapshotsLabel}}</h3></div>

                <div class="snapshots-list">
                   {{{snapshotsUl}}}
                </div>

                <div class="flex space-x-2 justify-left pt-5">
                    {{{snapshotsSubmitBtn}}}

                </div>
            </div>

            {{/snapshotsDomItems}}










    </section>



</main>





</body>
</html>
