
$Primary-050: #E0E8F9;
$Primary-100: #BED0F7;
$Primary-200: #98AEEB;
$Primary-300: #7B93DB;
$Primary-400: #647ACB;
$Primary-500: #4C63B6;
$Primary-600: #4055A8;
$Primary-700: #35469C;
$Primary-800: #2D3A8C;
$Primary-900: #19216C;
$Neutral-050: #F5F7FA;
$Neutral-100: #E4E7EB;
$Neutral-200: #CBD2D9;
$Neutral-300: #9AA5B1;
$Neutral-400: #7B8794;
$Neutral-500: #616E7C;
$Neutral-600: #52606D;
$Neutral-700: #3E4C59;
$Neutral-800: #323F4B;
$Neutral-900: #1F2933;
$Neutral-1000: #000;
$Supporting-1-050: #E3F8FF;
$Supporting-1-100: #B3ECFF;
$Supporting-1-200: #81DEFD;
$Supporting-1-300: #5ED0FA;
$Supporting-1-400: #40C3F7;
$Supporting-1-500: #2BB0ED;
$Supporting-1-600: #1992D4;
$Supporting-1-700: #127FBF;
$Supporting-1-800: #0B69A3;
$Supporting-1-900: #035388;
$Supporting-2-050: #FFE3E3;
$Supporting-2-100: #FFBDBD;
$Supporting-2-200: #FF9B9B;
$Supporting-2-300: #F86A6A;
$Supporting-2-400: #EF4E4E;
$Supporting-2-500: #E12D39;
$Supporting-2-600: #CF1124;
$Supporting-2-700: #AB091E;
$Supporting-2-800: #8A041A;
$Supporting-2-900: #610316;
$Supporting-3-050: #FFFBEA;
$Supporting-3-100: #FFF3C4;
$Supporting-3-200: #FCE588;
$Supporting-3-300: #FADB5F;
$Supporting-3-400: #F7C948;
$Supporting-3-500: #F0B429;
$Supporting-3-600: #DE911D;
$Supporting-3-700: #CB6E17;
$Supporting-3-800: #B44D12;
$Supporting-3-900: #8D2B0B;
$Supporting-4-050: #EFFCF6;
$Supporting-4-100: #C6F7E2;
$Supporting-4-200: #8EEDC7;
$Supporting-4-300: #65D6AD;
$Supporting-4-400: #3EBD93;
$Supporting-4-500: #27AB83;
$Supporting-4-600: #199473;
$Supporting-4-700: #147D64;
$Supporting-4-800: #0C6B58;
$Supporting-4-900: #014D40;

